.chat-display .post {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  background: none; 
  box-shadow: none; 
  padding: 0;
}

.chat-display .post__text {
  padding: 10px;
  border-radius: 10px;
  max-width: 100%; 
  word-wrap: break-word;
}

.chat-display .post--right {
  justify-content: flex-end;
}

.chat-display .post--right .post__text {
  background-color: #dcf8c6; 
  border-radius: 10px 10px 0 10px;
}

.chat-display .post--left {
  justify-content: flex-start;
}

.chat-display .post--left .post__text {
  background-color: #f1f1f1;
  border-radius: 10px 10px 10px 0;
}

.post__header--time {
  font-size: 0.75rem;
  color: #666;
  margin-top: 4px;
  text-align: right;
  display: block; 
}


.post {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

.post--left {
  margin-right: auto;
  max-width: 70%;
}

.post--right {
  margin-left: auto;
  max-width: 70%;
}

.post__header {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.post__header--user {
  display: none; 
}

.post__header--reply {
  color: #23d160;
}

.post__text {
  color: #363636;
}

.activity {
  font-style: italic;
  color: #4a4a4a;
  margin-top: 0.5rem;
}

#openChatBtn {
  margin-top: 10px;
}

#chatContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 70%;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  overflow: auto;
  z-index: 1000;
}

.columns {
  height: calc(100vh - 50px);
}

.column {
  overflow-y: auto;
}

.box {
  margin-bottom: 20px;
}

.video-box {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post__text audio {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}
